APP_NAME=order-service
DEBUG=true
HOST=0.0.0.0
PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/orders

CAPASHINO_BASE_URL=https://capashino.dev-2.python-labs.ru
API_TOKEN=your-api-token-here

ORDER_SERVICE_INTERNAL_URL=http://order-service.default.svc:8000
KAFKA_BOOTSTRAP_SERVERS=
