APP_NAME=order-service
DEBUG=true
HOST=0.0.0.0
PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/orders
DATABASE_AUTO_CREATE=true

# Из кластера: http://student-system-capashino-web.student-system-capashino.svc:8000
CAPASHINO_BASE_URL=https://capashino.dev-2.python-labs.ru
API_TOKEN=your-api-token-here

# http://<service-name>.<namespace>.svc:8000
ORDER_SERVICE_INTERNAL_URL=http://order-service.default.svc:8000

KAFKA_BOOTSTRAP_SERVERS=kafka.kafka.svc.cluster.local:9092
