APP_NAME=order-service
DEBUG=true
HOST=0.0.0.0
PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE_NAME=orders
DATABASE_AUTO_CREATE=true

# Из кластера: http://student-system-capashino-web.student-system-capashino.svc:8000
CAPASHINO_BASE_URL=https://capashino.dev-2.python-labs.ru
API_TOKEN=your-api-token-here

ORDER_SERVICE_INTERNAL_URL=http://student-avegeorges-order-service-web.student-avegeorges-order-service.svc:8000

KAFKA_BOOTSTRAP_SERVERS=kafka.kafka.svc.cluster.local:9092
# APP_ROLE=api
# RUN_KAFKA_WORKERS_IN_API=true
# KAFKA_ORDER_EVENTS_TOPIC=student_system-order.events
# KAFKA_SHIPMENT_EVENTS_TOPIC=student_system-shipment.events
# KAFKA_CONSUMER_GROUP_ID=order-service-shipment
# OUTBOX_POLL_INTERVAL_SECONDS=2
# OUTBOX_BATCH_SIZE=100
# OUTBOX_MAX_RETRIES=5
